
//------------------------------------
//  CLIENT VIEW
//------------------------------------

.client-view{
	&__content-inner{
		padding: 0.5em;
	}
	&__sidebar-inner{
		padding: 10.2em 0.5em;
	}

	.scroll-box{
		margin-top: 2em;

		&:first-child{
			margin-top:2.5em;
		}
		&:last-child{
			margin-bottom: 4em;
		}
	}
}