
//------------------------------------
//  LISTS
//------------------------------------


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


// Definition Lists
dl {
  overflow: hidden;
  margin: 0 0 1em;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
  margin-bottom: 1em;
}
